<footer>
  <div class="container-fluid padding">
    <div class="row text-center">
      <div class="col-md-4">
        <hr class="light">
        <h5>Service Area</h5>
        <hr class="light">
        <p>Add service area here</p>
        <p>Add service area here</p>
        <p>Add service area here</p>
        <p>Add service area here</p>
        <p>Add service area here</p>
      </div>
      <div class="col-md-4">
        <hr class="light">
        <h5>Our Hours</h5>
        <hr class="light">
        <p>Monday-Saturday: timing</p>
        <p>Sunday: timing</p>
      </div>
      <div class="col-md-4">
        <hr class="light">
        <h5>Service Area</h5>
        <hr class="light">
        <p>Add service area here</p>
        <p>Add service area here</p>
        <p>Add service area here</p>
        <p>Add service area here</p>
        <p>Add service area here</p>
      </div>

      <div class="col-12">
        <hr class="light">
        <h5>&copy; Better Pledge.com</h5>
      </div>


    </div>
  </div>