<div class="container d1" style="padding-top: 0px; margin-top: 5px">
  <ul class="nav nav-tabs">
      <li class="nav-item" >
          <a class="nav-link" routerLinkActive="active" routerLink="/product/all">Food</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/product/trending" >Clothes</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/product/lightning">Study Material</a>
      </li>
  </ul>
  </div>