.jumcol{
    background-color: #f8f9fa;
    /* background-color: white; */
}
.fas{
    color: rgba(0, 0, 0, 0.863);
}
b{
    font-family: 'Montserrat', sans-serif; 
    font-weight:600;
}
/* .lead{
    font-size: 2.5rem;
} */
