<div class="container py-4">
  <div class="row">
    <div class="col-lg-6">
      <div class="">
        <p class="text-center mt-5 display-4" style="font-family: 'Assistant', sans-serif; font-weight:bolder;">Frequently
          Asked <span style="color: #930202;">Questions</span></p>
        <img src="assets/tenor.gif" style="display:block; margin-left:auto; margin-right:auto;" alt="" srcset="">

      </div>
    </div>
    <div class="col-lg-6">
      <div class="jumbotron jumcol">
        
        <!-- 0th -->
        <div>
          <div class="d-flex">
            <button type="button" class="btn btn-light" data-toggle="collapse" data-target="#demo"><i class="fas fa-angle-right"></i></button>
            <b class="pt-1 mx-1 px-1">What is Better Pledge?</b>
          </div>
          <div id="demo" class="collapse mx-3 pl-4 pb-3 text-justify text-muted">
            Better pledge is a web platform made by Google Student Community, DITU where individuals can donate surplus
            food from restaurants and communities to serve the less fortunate.

            The NGO’s can run through the platform whenever they require food for the less fortunate.
          </div>
        </div>

        <!-- 1st -->
        <div>
          <div class="d-flex">
            <button type="button" class="btn btn-light" data-toggle="collapse" data-target="#demo1"><i class="fas fa-angle-right"></i></button>
            <b class="pt-1 mx-1 px-1">How did this start?</b>
          </div>
          <div id="demo1" class="collapse mx-3 pl-4 pb-3 text-justify text-muted">
            It started as project in the esteemed Google Student Community of DIT University but it grew with support
            of
            individual donors, hotel and restaurant owners and NGO’s.
          </div>
        </div>

        <!-- 2nd -->
        <div>
          <div class="d-flex">
            <button type="button" class="btn btn-light" data-toggle="collapse" data-target="#demo2"><i class="fas fa-angle-right"></i></button>
            <b class="pt-1 mx-1 px-1">Who are we?</b>
          </div>
          <div id="demo2" class="collapse mx-3 pl-4 pb-3 text-justify text-muted">
            We are students of DIT University, Dehradun.
          </div>
        </div>

        <!-- 3rd -->
        <div>
          <div class="d-flex">
            <button type="button" class="btn btn-light" data-toggle="collapse" data-target="#demo3"><i class="fas fa-angle-right"></i></button>
            <b class="pt-1 mx-1 px-1">What about funds?</b>
          </div>
          <div id="demo3" class="collapse mx-3 pl-4 pb-3 text-justify text-muted">
              We are a zero funds organization. Better pledge has no revenue, employees, nor office space – if you want to
              help just list the food items you want to donate and NGO’s will surely get up to you.
          </div>
        </div>

        <!-- 4th -->
        <div>
          <div class="d-flex">
            <button type="button" class="btn btn-light" data-toggle="collapse" data-target="#demo4"><i class="fas fa-angle-right"></i></button>
            <b class="pt-1 mx-1 px-1">How did you grow without money?</b>
          </div>
          <div id="demo4" class="collapse mx-3 pl-4 pb-3 text-justify text-muted">
              Simple – we are in the business of connecting peoples to serve the less fortunate. We share our experiences
              on social media. Facebook, Instagram and WhatsApp are our tools to grow.
          </div>
        </div>

        <!-- 5th -->
        <div>
          <div class="d-flex">
            <button type="button" class="btn btn-light" data-toggle="collapse" data-target="#demo5"><i class="fas fa-angle-right"></i></button>
            <b class="pt-1 mx-1 px-1">I liked the concept – how can I help?</b>
          </div>
          <div id="demo5" class="collapse mx-3 pl-4 pb-3 text-justify text-muted">
              Easy – we need you to just create an id on the website list the food items you want to donate that’s it the
              NGOs will reach out to you, you just need to provide the information of the food and where to collect it
              from.
          </div>
        </div>

        <!-- 6th -->
        <div>
          <div class="d-flex">
            <button type="button" class="btn btn-light" data-toggle="collapse" data-target="#demo6"><i class="fas fa-angle-right"></i></button>
            <b class="pt-1 mx-1 px-1">Do you provide certificates?</b>
          </div>
          <div id="demo6" class="collapse mx-3 pl-4 pb-3 text-justify text-muted">
              Nah – Our mission is to reduce the food hunger index and help the less fortunate.
          </div>
        </div>

        <!-- 7th -->
        <div>
          <div class="d-flex">
            <button type="button" class="btn btn-light" data-toggle="collapse" data-target="#demo7"><i class="fas fa-angle-right"></i></button>
            <b class="pt-1 mx-1 px-1">How can I donate?</b>
          </div>
          <div id="demo7" class="collapse mx-3 pl-4 pb-3 text-justify text-muted">
              Thanks for wanting to support us –better pledge DOES NOT accept money. We have grown through contributions in
              kind and partnerships.
          </div>
        </div>

        <!-- 8th -->
        <div>
          <div class="d-flex">
            <button type="button" class="btn btn-light" data-toggle="collapse" data-target="#demo8"><i class="fas fa-angle-right"></i></button>
            <b class="pt-1 mx-1 px-1">I am in journalism – how can I contact?</b>
          </div>
          <div id="demo8" class="collapse mx-3 pl-4 pb-3 text-justify text-muted">
              Thanks for the interest – hopefully this will help us spread us reach to more donors and NGO’s, more cities,
              and more people. Do write to us at betterpledge@gscditu.com
          </div>
        </div>

        <!-- 9th -->
        <div>
          <div class="d-flex">
            <button type="button" class="btn btn-light" data-toggle="collapse" data-target="#demo9"><i class="fas fa-angle-right"></i></button>
            <b class="pt-1 mx-1 px-1">I haven’t got the answer to my question- Help!</b>
          </div>
          <div id="demo9" class="collapse mx-3 pl-4 pb-3 text-justify text-muted">
            Drop us an email at betterpledge@gscditu.com we would love to help.
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

