<div class="container d1">
    <h4>My Orders</h4>
</div>
<div class="container d2">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="card">
                        <div class="card-header">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm">
                                        <span class="a-color-secondary label">
                                            Order placed
                                        </span>
                                        <div class="a-row">
                                            <span class="a-color-secondary label ">
                                                21 October 2018
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm">
                                        <span>
                                            Ship to
                                        </span>
                                        <div class="a-row">
                                            <span>
                                                Lorem Ipsum
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm">
                                        <span class="a-color-secondary label">
                                            Order #
                                        </span>
                                        <div class="a-row">
                                            <span class="a-color-secondary value">
                                                407-4194152-5228306
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <table class="table table-borderless " script="border: none;">
                                <tbody>
                                    <tr>
                                        <th scope="row"> <img src="https://placehold.it/100" alt="img"> </th>
                                        <td>discription about the food donated</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <br>
                    <div class="card">
                        <div class="card-header">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm">
                                        <span class="a-color-secondary label">
                                            Order placed
                                        </span>
                                        <div class="a-row">
                                            <span class="a-color-secondary label ">
                                                21 October 2018
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm">
                                        <span>
                                            Ship to
                                        </span>
                                        <div class="a-row">
                                            <span>
                                                Lorem Ipsum
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm">
                                        <span class="a-color-secondary label">
                                            Order #
                                        </span>
                                        <div class="a-row">
                                            <span class="a-color-secondary value">
                                                407-4194152-5228306
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <table class="table table-borderless " script="border: none;">
                                <tbody>
                                    <tr>
                                        <th scope="row"> <img src="https://placehold.it/100" alt="img"> </th>
                                        <td>discription about the food donated</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>