<footer>
  <div class="container-fluid padding">
    <div class="row">
      <div class="col-md-12 ">
        <div class="row">
          <div class="col-md-4">
            <p class="lead"><img src="assets/logo.png" height="45px" ></p>
            <!-- 
            <li>Stories</li>
            <li>Press</li> -->
            <p class="float-left" style="text-align:justify">Better pledge is a web platform made by 
              Google Student Community, DITU where individuals
               can donate surplus food from restaurants and communities
                to serve the less fortunate. The NGO’s can run through the
                 platform whenever they require food for the less fortunate.</p>
          </div>
          <div class="col-md-2 my-3">
            <p class="lead "><b>Social links</b></p>
            <li><a target="_blank" href="//fb.com/GSC.DIT.DDN"><i class="fab fa-facebook-square" aria-hidden="true"></i>&nbsp;Facebook</a></li>
            <li><a target="_blank" href="//instagram.com/gscditu"><i class="fab fa-instagram" aria-hidden="true"></i>&nbsp;Instagram</a></li>
            <li><a target="_blank" href="//linkedin.com/company/gscditu"><i class="fab fa-twitter" aria-hidden="true"></i>&nbsp;LinkedIn</a></li>
            <li><a target="_blank" href="//gscditu.com/"><i class="fab fa-google-plus" aria-hidden="true"></i>&nbsp;Blog</a></li>
          </div>
          <div class="col-md-2 my-3" >
            <p class="lead "><b>Quick Links</b></p>
            <li routerLinkActive="active"  routerLink="/home">Home</li>
            <li routerLinkActive="active" routerLink="/view/faqs">FAQ</li>
            <li routerLinkActive="active" routerLink="/view/contact">Contact</li>
            <li routerLinkActive="active" routerLink="/view/about">About</li>
          </div>
          <div class="col-md-4 my-3">
            <p class="lead "><b>Contact info</b></p>
            <p class=" text-justify"><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;Better Pledge Office, 
              Ground Floor, DIT University, 
              Diversion Road, Salan Gaon,
              Makkawalla, Dehradun
              India, 248009. </p> 
            <li  href="/home"><i class="fa fa-mobile" aria-hidden="true"></i>&nbsp;+91-9947606108</li>
            
            <li  href="/home"><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;support@betterpledge.com</li>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
