<footer>
  <div class="container-fluid padding">
    <div class="row">
      <div class="col-md-7 border-right">
        <div class="row">
          <div class="col-md-3">
            <p class="lead">About</p>
            <li>Contact</li>
            <li>About</li>
            <li>Stories</li>
            <li>Press</li>
          </div>
          <div class="col-md-3">
            <p class="lead">Help</p>
            <li>Shipping</li>
            <li>Cancellation &amp; Returns</li>
            <li>FAQ</li>
            <li>Report</li>
            <li>Support</li>
          </div>
          <div class="col-md-3">
            <p class="lead">Policy</p>
            <li>Terms of Use</li>
            <li>Security</li>
            <li>Privacy</li>
            <li>Sitemap</li>
          </div>
          <div class="col-md-3">
            <p class="lead">Social</p>
            <li>Facebook</li>
            <li>Twitter</li>
            <li>YouTube</li>
            <li>Google Plus+</li>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-6">
            <p class="lead">
              Mail Us
            </p>
            <p>
                Better Pledge Office, <br>
                Ground Floor, DIT University, <br>
                Diversion Road, Salan Gaon,<br>
                Makkawalla, Dehradun
                India, 124800. <br>
            </p>
          </div>
          <div class="col-md-6 px-2">
            <p class="lead">
                Registered Office Address
            </p>
            <p>
                Better Pledge Office, <br>
                Ground Floor, DIT University, <br>
                Diversion Road, Salan Gaon,<br>
                Makkawalla, Dehradun
                India, 124800. <br>          
                CIN : IN6465465464545454 <br>                
                Telephone: +91 1000 1000 <br>                
                <a routerLink="donor/addProduct" style="color:yellow">Donate On Better Pledge </a><br>                
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
