footer{
   background-color: #f7f8f9;
   font-size: 15px;
   text-align: left;
   text-decoration: none;
    color: black;
    padding: 2rem;
  }
.border-right{
  border-right: 1px solid #878787 !important;
}
a{
  text-decoration: none;
  color: black;
}
a:hover{
  color: rgb(126, 34, 34);
}
p{
  text-align: left 
}  
li {
  cursor: pointer;
  list-style: none;
  text-align: left;
}
li:hover {
  color:rgb(126, 34, 34)
}

.lead{
  color: #878787;
}
  @media screen and (max-width: 600px) {
    footer {
      display: none;
    }
  }