footer {
  background-color: #F7F8F9;
  font-size: 14px;
  text-align: left;
  text-decoration: none;
  padding: 2rem;
}

.border-right {
  border-right: 1px solid #87878746 !important;
}

p {
  text-align: left
}

li {
  cursor: pointer;
  list-style: none;
  text-align: left;
}

@media screen and (max-width: 600px) {
  footer {
    display: none;
  }
}
