<footer>
  <div class="container-fluid padding">
    <div class="row">
      <div class="col-md-7 border-right">
        <div class="row">
          <div class="col-md-3">
            <p class="lead">About</p>
            <li>Contact</li>
            <li>About</li>
            <li>Stories</li>
            <li>Press</li>
          </div>
          <div class="col-md-3">
            <p class="lead">Help</p>
            <li>Shipping</li>
            <li>Cancellation &amp; Returns</li>
            <li>FAQ</li>
            <li>Report</li>
            <li>Support</li>
          </div>
          <div class="col-md-3">
            <p class="lead">Policy</p>
            <li>Terms of Use</li>
            <li>Security</li>
            <li>Privacy</li>
            <li>Sitemap</li>
          </div>
          <div class="col-md-3">
            <p class="lead">Social</p>
            <li>Facebook</li>
            <li>Twitter</li>
            <li>YouTube</li>
            <li>Google Plus+</li>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-6">
            <p class="lead">
              Mail Us
            </p>
            <p>
                Flipkart Internet Pvt Ltd Block B (Begonia), <br>
                Ground Floor, Embassy Tech Village, <br>
                Outer Ring Road, Devarabeesanahalli Village,<br>
                Varthur Hobli, Bengaluru East Taluk, <br>
                Bengaluru District, <br>
                Karnataka, India, 560103. <br>
            </p>
          </div>
          <div class="col-md-6 px-2">
            <p class="lead">
                Registered Office Address
            </p>
            <p>
                Flipkart Internet Private Limited, <br>
                Vaishnavi Summit, Ground Floor, 7th Main, <br>                
                80 Feet Road, 3rd Block, <br>                
                Koramangala, <br>                
                Bengaluru - 560034 <br>                
                India <br>                
                CIN : U51109KA2012PTC066107 <br>                
                Telephone: 1800 208 9898 <br>                
                Sell On Flipkart <br>                
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
