.card-footer{
    padding: 0%;
}
.d1{
    margin-top: 5%;
}
.d2{
    margin-top: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.d3{
    margin-top: 1rem;
    padding-top: 1rem;
}
.subd31{
    border-right: 0.4px solid rgba(0, 0, 0, 0.2);
}
.pagination {
   justify-content: center;
}

.card{
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(243,243,243,1) 50%, rgba(237,237,237,1) 51%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */   
}

