<app-header></app-header>
<div class="jumbotron fx-nav">
  <div class="container">
      <h4 class="display-4">Contact Us</h4>
      <p>We are happy to get in touch with you. Fill up the form below to talk to us!</p>
  </div>
  
</div>
<div class="container">
  <div class="row">
      <div class="col-md col-sm">
          <div class="map">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3676.345985868777!2d88.34905561454242!3d22.863674085033825!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39f891baf1d59f55%3A0x5cba6800995d47a0!2siWorld+Group%2C+Santrapara+Road%2CKhalisani%2C+Guchaitpara%2C+Chandannagar%2C+West+Bengal+712136!5e0!3m2!1sen!2sin!4v1530346691276"
                  height="200" width="auto" frameborder="0" style="border:0" allowfullscreen=""></iframe>
          </div>
      </div>
      <div class="col-md">
          <h1 class="wow fadeInLeft animated" style="visibility: visible; animation-name: fadeInLeft;">Addresss</h1>
          <address class="wow fadeInLeft animated" style="visibility: visible; animation-name: fadeInLeft;">
              <p>Better Pledge,</p>
              <p>Made with ♥ in INDIA</p>
              <p>Email: support@email.com</p>
          </address>
      </div>
      <div class="col-md-6 col-sm">
          <h1 class="wow fadeInRight animated">Contact Form</h1>
          <form >
              <div class="row">
                  <div class="col-md">
                      <input class="form-control" type="text" name="name" placeholder="Your name...">
                      <br>
                      <input class="form-control" type="text" name="companyname" placeholder="Company Name...">
                      <br>
                      <input class="form-control" type="email" name="email" placeholder="Email...">
                  </div>
                  <div class="col-md">
                      <textarea class="form-control" type="text" name="message" placeholder="Write your message here ..."></textarea>
                      <br>
                      <input class="btn btn-primary float-md-right" type="submit" value="Send Messages" style="visibility: visible; animation-name: fadeInRight;">
                  </div>
              </div>
          </form>
      </div>
  </div>

</div>
<app-footer></app-footer>