<div class="container">
  <p class="mb-2">Trending
     

  </p>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner row w-100 mx-auto">
          <div class="carousel-item col-md-4 active">
              <div class="card flex-row flex-wrap">
                  <!-- <img class="card-img-top img-fluid" src="http://placehold.it/200x100/f44242/fff" alt="Card image cap"> -->
                  <div class="card-body">
                      <p class="card-text">
                          <small class="text-muted">Donor: KFC Ballupur</small>
                          <small class="text-muted">&nbsp; | &nbsp;</small>
                          <small class="text-muted">Listed: 3 mins ago</small>
                      </p>
                      <p class="card-text">Food Description: This is a longer card with supporting text below as
                          a natural lead-in
                          to additional content. This content is a little bit longer.
                      </p>
                      <a href="#" class="btn btn-primary btn-sm float-right">Book Now</a>
                  </div>
              </div>
          </div>
          <div class="carousel-item col-md-4">
              <div class="card flex-row flex-wrap">
                  <!-- <img class="card-img-top img-fluid" src="http://placehold.it/200x100/f44242/fff" alt="Card image cap"> -->
                  <div class="card-body">
                      <p class="card-text">
                          <small class="text-muted">Donor: KFC Ballupur</small>
                          <small class="text-muted">&nbsp; | &nbsp;</small>
                          <small class="text-muted">Listed: 3 mins ago</small>
                      </p>
                      <p class="card-text">Food Description: This is a longer card with supporting text below as
                          a natural lead-in
                          to additional content. This content is a little bit longer.
                      </p>
                      <a href="#" class="btn btn-primary btn-sm float-right">Book Now</a>
                  </div>
              </div>
          </div>
          <div class="carousel-item col-md-4">
              <div class="card ">
                  <!-- <img class="card-img-top img-fluid" src="http://placehold.it/200x100/f44242/fff" alt="Card image cap"> -->
                  <div class="card-body">
                      <p class="card-text">
                          <small class="text-muted">Donor: KFC Ballupur</small>
                          <small class="text-muted">&nbsp; | &nbsp;</small>
                          <small class="text-muted">Listed: 3 mins ago</small>
                      </p>
                      <p class="card-text">Food Description: This is a longer card with supporting text below as
                          a natural lead-in
                          to additional content. This content is a little bit longer.
                      </p>
                      <a href="#" class="btn btn-primary btn-sm float-right">Book Now</a>
                  </div>
              </div>
          </div>
          <div class="carousel-item col-md-4">
              <div class="card flex-row flex-wrap">
                  <!-- <img class="card-img-top img-fluid" src="http://placehold.it/200x100/f44242/fff" alt="Card image cap"> -->
                  <div class="card-body">
                      <p class="card-text">
                          <small class="text-muted">Donor: KFC Ballupur</small>
                          <small class="text-muted">&nbsp; | &nbsp;</small>
                          <small class="text-muted">Listed: 3 mins ago</small>
                      </p>
                      <p class="card-text">Food Description: This is a longer card with supporting text below as
                          a natural lead-in
                          to additional content. This content is a little bit longer.
                      </p>
                      <a href="#" class="btn btn-primary btn-sm float-right">Book Now</a>
                  </div>
              </div>
          </div>
          <div class="carousel-item col-md-4">
              <div class="card flex-row flex-wrap">
                  <!-- <img class="card-img-top img-fluid" src="http://placehold.it/200x100/f44242/fff" alt="Card image cap"> -->
                  <div class="card-body">
                      <p class="card-text">
                          <small class="text-muted">Donor: KFC Ballupur</small>
                          <small class="text-muted">&nbsp; | &nbsp;</small>
                          <small class="text-muted">Listed: 3 mins ago</small>
                      </p>
                      <p class="card-text">Food Description: This is a longer card with supporting text below as
                          a natural lead-in
                          to additional content. This content is a little bit longer.
                      </p>
                      <a href="#" class="btn btn-primary btn-sm float-right">Book Now</a>
                  </div>
              </div>
          </div>
          <div class="carousel-item col-md-4">
              <div class="card flex-row flex-wrap">
                  <!-- <img class="card-img-top img-fluid" src="http://placehold.it/200x100/f44242/fff" alt="Card image cap"> -->
                  <div class="card-body">
                      <p class="card-text">
                          <small class="text-muted">Donor: KFC Ballupur</small>
                          <small class="text-muted">&nbsp; | &nbsp;</small>
                          <small class="text-muted">Listed: 3 mins ago</small>
                      </p>
                      <p class="card-text">Food Description: This is a longer card with supporting text below as
                          a natural lead-in
                          to additional content. This content is a little bit longer.
                      </p>
                      <a href="#" class="btn btn-primary btn-sm float-right">Book Now</a>
                  </div>
              </div>
          </div>
          <div class="carousel-item col-md-4">
              <div class="card flex-row flex-wrap">
                  <!-- <img class="card-img-top img-fluid" src="http://placehold.it/200x100/f44242/fff" alt="Card image cap"> -->
                  <div class="card-body">
                      <p class="card-text">
                          <small class="text-muted">Donor: KFC Ballupur</small>
                          <small class="text-muted">&nbsp; | &nbsp;</small>
                          <small class="text-muted">Listed: 3 mins ago</small>
                      </p>
                      <p class="card-text">Food Description: This is a longer card with supporting text below as
                          a natural lead-in
                          to additional content. This content is a little bit longer.
                      </p>
                      <a href="#" class="btn btn-primary btn-sm float-right">Book Now</a>
                  </div>
              </div>
          </div>

      </div>
      <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
      </a>
  

  </div>
</div>

