<ng-progress [positionUsing]="'marginLeft'" [direction]="'leftToRightIncreased'" [color]="'red'" [trickleSpeed]="500"
  [thick]="true" [ease]="'easeInSine'"></ng-progress>
<app-header></app-header>
<div class="container-fluid jumbotron m-0 p-0">
  <div class="container jumbotron">
    <b class="text-left display-4 py-4" style="font-family: 'Assistant', sans-serif; font-weight:bolder;">Donate
      <span style="color: #930202;">Products</span></b>
    <p class="text-left px-1 text-muted" style="font-family: 'Montserrat', sans-serif; font-weight:700;">
      Take a Better Pledge today. Start Donating.</p>
    <a style="bottom:25px;right:25px;position:fixed; color:white; z-index: 1" routerLink="/donor/addProduct" class="btn btn-success"><i
        class="fa fa-plus " title="Donate"></i> </a>
  </div>
</div>
<div class="container my-3 mx-auto">
  <form (ngSubmit)="onSave(f.value)" #f="ngForm">
    <div class="row">
      <div class="col-md-7">
        <div>
          <h2 class="lead" style="font-family: 'Montserrat', sans-serif; font-weight:700;">Enter Information</h2>
          <hr>
        </div>
        <div class="form-group">
          <label id="title" for="">Product Name</label>
          <input #productName="ngModel" type="text" [(ngModel)]="product.description" id="title" name="description"
            class="form-control" required>
        </div>
        <div class="form-group">
          <label id="Category" for="type">Category</label>
          <select #category="ngModel" [(ngModel)]="product.type" name="type" id="Category" class="form-control"
            required>
            <option value="veg">Veg.</option>
            <option value="non-veg">Non-Veg.</option>
          </select>
        </div>
        <div class="form-group">
          <label id="quantity" for="quantity">Quantity</label><br>
          <div class="input-group mb-3">
            <input type="text" #quantity="ngModel" type="text" [(ngModel)]="product.quantity" pattern="^[1-9]+[0-9]*$"
              name="quantity" id="quantity" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2"
              required>
            <div class="input-group-append">
              <span class="input-group-text" id="basic-addon2">per serving</span>
            </div>
          </div>
        </div>

        <input style="display: none" type="file" (change)="onFileChanged($event)" #fileInput>
        <button (click)="fileInput.click()" type="button" class="btn fa fa-paperclip">Select File</button>&nbsp;&nbsp;&nbsp;<br><br>
        <p *ngIf="selectedFile">{{selectedFile.name}}</p>
        <p *ngIf="type" style="color:red">Type of image should be of (.jpg)</p>
        <p *ngIf="size" style="color:red">Image size should be less than 1MB</p>

        <button class="btn btn-success" [disabled]="!f.valid || !res">Save</button>&nbsp;&nbsp;&nbsp;
        <button class="btn btn-danger" type="button" *ngIf="id" (click)="delete()">Delete</button>
      </div>
      <div class="col-md-5">
        <div>
          <h2 class="lead" style="font-family: 'Montserrat', sans-serif; font-weight:700;">Preview Card</h2>
          <hr>
        </div>
        <div style="margin:auto auto">
          <div class="card" *ngIf="f.valid && res">
            <img class="card-img-top" src="{{product.image}}" height="200px">
            <div class="card-body">
              <span class="card-title display-6">{{ productName.value }}</span>
              <p class="card-text float-right badge badge-light">{{ category.value | uppercase }}</p>
              <p class="card-text">{{ AuthService.currentUser().organisation | uppercase}}</p>
              <hr>
              <p class="card-text">Quantity:- {{ quantity.value }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<app-footer></app-footer>