<form (ngSubmit)="onSave(f)" #f="ngForm">
    <div class="form-group">
      <label id="title" for="">Product Name</label>
      <input type="text" ngModel id="title" name="product-name" class="form-control">
    </div> 
    <div class="form-group">
        <label id="Organization" for="Organization">Organization</label>
        <input type="text" ngModel name="company" id="Organization" class="form-control">
      </div> 
    <div class="form-group">
        <label id="Category" for="">Category</label>
        <select name="Category" id="Category" class="form-control">
          <option value="veg">Veg.</option>
          <option value="non-veg">Non-Veg.</option>
        </select>
      </div> 
      <div class="form-group">
          <label id="url" for="url">Image URL</label>
          <input type="text" ngModel name="url" id="url" class="form-control">
        </div> 
  <button class="btn btn-success">Save</button>
</form>