.thumbnail{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-size: cover;
    margin-top: 20px;
}

.custom-style{
    border:0px;
    padding:0px;
    background-color:white;
}