<ng-progress [positionUsing]="'marginLeft'" [direction]="'leftToRightIncreased'" [color]="'red'" [trickleSpeed]="500"
  [thick]="true" [ease]="'easeInSine'"></ng-progress>
<app-header></app-header>


<!-- Navigation -->


<!-- contact us jumbotron -->

<div style="overflow-x: hidden;">
  <div class="row">
    <div class="col-lg-12">
      <div class="jumbotron fx-nav">
        <div class="container">
          <b class="text-left display-4 py-4" style="font-family: 'Assistant', sans-serif; font-weight:bolder;">About
            <span style="color: #930202;">Us</span></b>
          <p class="text-left px-1 text-muted" style="font-family: 'Montserrat', sans-serif; font-weight:700;">
            Like our work? Know more about us.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- end of contact us -->


  <div style="text-align:justify;">
    <div class="container cont mt-3" style=" padding-bottom:60px; justify-content: center;">
      <div class="mbr-figure mbr-text col-12  mbr-fonts-style display-7" style="padding-right: 15px;
                padding-left: 15px;">
        <blockquote class="font-italic" style="font-size: 0.9rem; font-family: 'Montserrat', sans-serif; font-weight:700;">
          We make a living by what we get, but we make a life by what we give... </blockquote>
      </div>

    </div>

    <div class="container py-1">
      <div class="row">
        <div class="col-lg-2" style="margin-top: 0px; padding-bottom: 10px; text-align: center;">
          <img src="https://media.licdn.com/dms/image/C510BAQFpqqqT1zYmuw/company-logo_400_400/0?e=1556755200&v=beta&t=0VQsS7EBiJmWc-nCtgUgsDsQel53p66LRiQlcVh5e3Q"
            alt="Img" style="border-radius: 0.5em; width: 100%;">

        </div>
        <div class="col-lg-10">
          <p class="text-justify text-muted" style="font-size: 0.9rem; font-family: 'Montserrat', sans-serif; font-weight: 700;">

            Hello Visitors, we the Google Student Community of DIT University, aim high at being focused on
            building relationships with our clients and community. Our vision is to make an impact on the
            society by giving the best out of what we have, as a team. We vow to unite together and join our
            hands to stop the immense wastage of food. With our recently launched Web-Project, "Better Pledge"
            we solemnly undertake the resolution to pool the left over(the waste food) and the left out (the
            needy people), hence establishing an amicable solution to address food waste.
            Let's not be the worst food waste culprit in the world. A lot of that veritable waste can be a
            blessing to the living lot. Here's what we can do about it. Earnestly urging all NGOs, hoteliers,
            food geeks, families, children and individuals to embark on this momentous journey of the "Better
            Pledge" so that we waste not what we want not.
          </p>
        </div>
      </div>
    </div>



    <div class="container my-5">
      <div class="row">

        <div class="card p-3 col-12 col-md-6 col-lg-4" style="border: none;">
          <div class="card-img pb-3">
            <!-- <span class="mbri-bootstrap mbr-iconfont"></span> -->
            <i class="fas fa-rocket fa-2x"></i>
          </div>
          <div class="card-box">
            <h4 class="card-title py-3 display-5" style="font-family: 'Assistant', sans-serif; font-weight:bolder;">
              MISSION
            </h4>
            <p class="mbr-text mbr-fonts-style display-7 text-muted" style="font-size: 0.9rem; font-family: 'Montserrat', sans-serif; font-weight: 700;">
              To gain and share knowledge amongst the community and beyond with the help of collaboration,
              sharing and learning with practical understanding.

            </p>
          </div>
        </div>

        <div class="card p-3 col-12 col-md-6 col-lg-4" style="border: none;">
          <div class="card-img pb-3">
            <!-- <span class="mbri-touch mbr-iconfont"></span> -->
            <i class="far fa-eye fa-2x"></i>
          </div>
          <div class="card-box">
            <h4 class="card-title py-3 mbr-fonts-style display-5" style="font-family: 'Assistant', sans-serif; font-weight:bolder;">
              VISION
            </h4>
            <p class="mbr-text mbr-fonts-style display-7 text-muted" style="font-size: 0.9rem; font-family: 'Montserrat', sans-serif; font-weight: 700;">
              Our Vision is to make an impact on the society by giving the best out of what we have, as a
              team. We think Big and work accordingly. Thus making stuff happen with our team effort,
              perseverance,and edurance.

            </p>
          </div>
        </div>

        <div class="card p-3 col-12 col-md-6 col-lg-4" style="border: none;">
          <div class="card-img pb-3">
            <!-- <span class="mbri-responsive mbr-iconfont"></span> -->
            <i class="far fa-star fa-2x"></i>
          </div>
          <div class="card-box">
            <h4 class="card-title py-3 mbr-fonts-style display-5" style="font-family: 'Assistant', sans-serif; font-weight:bolder;">
              GOALS
            </h4>
            <p class="mbr-text mbr-fonts-style display-7 text-muted" style="font-size: 0.9rem; font-family: 'Montserrat', sans-serif; font-weight: 700;">
              Build a community that uses technology in a way that makes real difference to people around us.
              We strive to help each other learn new technology for a better tomorrow.
            </p>
          </div>
        </div>



      </div>

    </div>


    <br>
    <!-- the contributors section -->

    <section>
      <div class="container mt-2 py-4">
        <h1 class="text-center display-4" style="font-family: 'Assistant', sans-serif; font-weight:bolder;">The
          <span style="color: #930202;">Contributors</span></h1>

        <!-- three cards -->
        <div class="row mt-5 pt-2 pb-2">
          <div class="col-lg-2">
            <div class="card border-light">
              <img class="card-img-top rounded-circle mx-auto d-block py-2" style="width:60%; height:60%;" src="https://static.knackforge.in/sites/default/files/default_images/dummy_5.png"
                alt="image">
              <div class="card-body text-center text-muted" style="font-family: 'Montserrat', sans-serif; font-weight:700;">
              </div>
            </div>
          </div>
          <div class="col-lg-2">
            <div class="card border-light">
              <img class="card-img-top rounded-circle mx-auto d-block py-2" style="width:60%; height:60%;" src="https://static.knackforge.in/sites/default/files/default_images/dummy_5.png"
                alt="image">
              <div class="card-body text-center text-muted" style="font-family: 'Montserrat', sans-serif; font-weight:700;">
              </div>
            </div>
          </div>
          <div class="col-lg-2">
            <div class="card border-light">
              <img class="card-img-top rounded-circle mx-auto d-block py-2" style="width:60%; height:60%;" src="https://static.knackforge.in/sites/default/files/default_images/dummy_5.png"
                alt="image">
              <div class="card-body text-center text-muted" style="font-family: 'Montserrat', sans-serif; font-weight:700;">
              </div>
            </div>
          </div>

          <div class="col-lg-2">
            <div class="card border-light">
              <img class="card-img-top rounded-circle mx-auto d-block py-2" style="width:60%; height:60%;" src="https://static.knackforge.in/sites/default/files/default_images/dummy_5.png"
                alt="image">
              <div class="card-body text-center text-muted" style="font-family: 'Montserrat', sans-serif; font-weight:700;">
              </div>
            </div>
          </div>
          <div class="col-lg-2">
            <div class="card border-light">
              <img class="card-img-top rounded-circle mx-auto d-block py-2" style="width:60%; height:60%;" src="https://static.knackforge.in/sites/default/files/default_images/dummy_5.png"
                alt="image">
              <div class="card-body text-center text-muted" style="font-family: 'Montserrat', sans-serif; font-weight:700;">
              </div>
            </div>
          </div>
          <div class="col-lg-2">
            <div class="card border-light">
              <img class="card-img-top rounded-circle mx-auto d-block py-2" style="width:60%; height:60%;" src="https://static.knackforge.in/sites/default/files/default_images/dummy_5.png"
                alt="image">
              <div class="card-body text-center text-muted" style="font-family: 'Montserrat', sans-serif; font-weight:700;">
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>

    <!-- end of the contributors -->


    <br>
    <br>




    <div style="background-color: #dedede00;">
        <hr />
        <div class="text-center center-block">
          <br />
          <a href="https://www.linkedin.com/company/gscditu/"><i class="fab fa-linkedin fa-3x social"></i></a>
          <a href="betterpledge@gscditu.com"><i class="fas fa-envelope-square fa-3x social"></i></a>
          <a href="https://www.instagram.com/gscditu/"><i class="fab fa-instagram fa-3x social"></i></a>
          <a href="https://www.facebook.com/GSC.DIT.DDN/"><i class="fab fa-facebook-square fa-3x social"></i></a>
        </div>
        <br>
      </div>
    
  </div>
</div>
<app-footer></app-footer>
