<ng-progress [positionUsing]="'marginLeft'" [direction]="'leftToRightIncreased'" [color]="'red'" [trickleSpeed]="500"
  [thick]="true" [ease]="'easeInSine'"></ng-progress>
<div class="row">
  <div class="col-lg-12">
    <div class="jumbotron fx-nav">
      <div class="container">
        <b class="text-left display-4 py-4" style="font-family: 'Assistant', sans-serif; font-weight:bolder;">Booking
          <span style="color: #930202;">Review</span></b>
        <p class="text-left px-1 text-muted" style="font-family: 'Montserrat', sans-serif; font-weight:700;">
          Please review your details before we place your order.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-start">
    <div class="col-md-6">
      <form #f="ngForm">
        <div class="col form-group">
          <label for="">Name</label>
          <input #name="ngModel" name="name" [(ngModel)]="shipping.name" type="text" class="form-control" required>
          <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
            <div *ngIf="name.errors.required">Name is required.</div>
          </div>
        </div>
        <div class="col form-group">
          <label for="">Phone</label>
          <input #phone="ngModel" name="phone" [(ngModel)]="shipping.phone" type="text" class="form-control" required>
          <div class="alert alert-danger" *ngIf="phone.touched && phone.invalid">
            <div *ngIf="phone.errors.required">Phone is required.</div>
          </div>
        </div>
        <div class="col  form-group">
          <label for="type">City</label>
          <select type="type" id="type" name="City" [(ngModel)]="shipping.City" class="form-control" required #type="ngModel">
            <option value="Dehradun">Dehradun</option>
          </select>
          <span class="help-block" *ngIf="type.touched && type.errors?.required" style="color:red">City is
            required</span>
        </div>
        <div class="col  form-group">
          <label for="email">Address</label>
          <textarea rows="3" type="text" id="email" [(ngModel)]="shipping.address" name="address" ngModel class="form-control"
            required #address="ngModel"></textarea>
        </div>
        <button class="btn btn-success " style="margin-left:15px " (click)="openVerticallyCentered(content)" [disabled]="!f.valid">Book
          Now</button>
        <br>
        <br>
        <br>
      </form>
      <ng-template #content let-modal>
        <div class="modal-header">
          <h4 class="modal-title">Congratulation</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>{{message}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light" (click)="close() ">Close</button>
        </div>
      </ng-template>
    </div>
    <div class="col-md-4" style="margin-top:30px ">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Order Summary</h5>
          <p class="card-text" *ngIf="count">You have {{count}} items in your shopping cart</p>
          <ul class="list-group list-group-flush" *ngIf="this.product_ids!==undefined && this.cart$!==null">
            <div *ngIf="cart$.items && product_ids.length">
              <li *ngFor="let product_id of product_ids" class="list-group-item">
                {{cart$.items[product_id].quantity}} x {{cart$.items[product_id].product.description}}
              </li>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>