<div class="container py-4">
  <!-- Trending Deals -->

  <p class="lead"> <b> Trending Items </b><button class="btn btn-success btn-sm pull-right" routerLink="/product/trending" >View All</button></p>
  <hr>
  <div class="carousel-inner row w-100 mx-auto">
    <div class="col-md-4 active">
      <div class="card">
        <!-- <img class="card-img-top img-fluid" src="https://placehold.it/800x600/f44242/fff" alt="Card image cap"> -->
        <div class="card-body">
          <p class="card-title lead">Card 1</p>
          <img class="img img-fluid" style="float: left; margin: 4px 10px 0px 0px" src="https://placehold.it/100x100/f44242/fff"
            alt="Card image cap">
          <span style="clear:both" class="card-text">This is a longer card with supporting text below as a natural
            lead-in to additional
            content.</span>
          <hr style="margin-bottom: 1px">
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <!-- <img class="card-img-top img-fluid" src="https://placehold.it/800x600/f44242/fff" alt="Card image cap"> -->
        <div class="card-body">
          <p class="card-title lead">Card 2</p>
          <img class="img img-fluid" style="float: left; margin: 4px 10px 0px 0px" src="https://placehold.it/100x100/f44242/fff"
            alt="Card image cap">
          <span style="clear:both" class="card-text">This is a longer card with supporting text below as a natural
            lead-in to additional
            content.</span>
          <hr style="margin-bottom: 1px">
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <!-- <img class="card-img-top img-fluid" src="https://placehold.it/800x600/f44242/fff" alt="Card image cap"> -->
        <div class="card-body">
          <p class="card-title lead">Card 3</p>
          <img class="img img-fluid" style="float: left; margin: 4px 10px 0px 0px" src="https://placehold.it/100x100/f44242/fff"
            alt="Card image cap">
          <span style="clear:both" class="card-text">This is a longer card with supporting text below as a natural
            lead-in to additional
            content.</span>
          <hr style="margin-bottom: 1px">
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="container py-4">
  <!-- Deals Near You -->
<p class="lead"> <b> Deals Near You </b> <button class="btn btn-success btn-sm pull-right">View All</button></p>
<hr>
<div class="carousel-inner row w-100 mx-auto">
  <div class="col-md-4 active">
    <div class="card">
      <!-- <img class="card-img-top img-fluid" src="https://placehold.it/800x600/f44242/fff" alt="Card image cap"> -->
      <div class="card-body">
        <p class="card-title lead">Card 1</p>
        <img class="img img-fluid" style="float: left; margin: 4px 10px 0px 0px" src="https://placehold.it/100x100/f44242/fff"
          alt="Card image cap">
        <span style="clear:both" class="card-text">This is a longer card with supporting text below as a natural
          lead-in to additional
          content.</span>
        <hr style="margin-bottom: 1px">
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <!-- <img class="card-img-top img-fluid" src="https://placehold.it/800x600/f44242/fff" alt="Card image cap"> -->
      <div class="card-body">
        <p class="card-title lead">Card 2</p>
        <img class="img img-fluid" style="float: left; margin: 4px 10px 0px 0px" src="https://placehold.it/100x100/f44242/fff"
          alt="Card image cap">
        <span style="clear:both" class="card-text">This is a longer card with supporting text below as a natural
          lead-in to additional
          content.</span>
        <hr style="margin-bottom: 1px">
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <!-- <img class="card-img-top img-fluid" src="https://placehold.it/800x600/f44242/fff" alt="Card image cap"> -->
      <div class="card-body">
        <p class="card-title lead">Card 3</p>
        <img class="img img-fluid" style="float: left; margin: 4px 10px 0px 0px" src="https://placehold.it/100x100/f44242/fff"
          alt="Card image cap">
        <span style="clear:both" class="card-text">This is a longer card with supporting text below as a natural
          lead-in to additional
          content.</span>
        <hr style="margin-bottom: 1px">
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>

</div>
</div>