<!-- the problems section -->

<section id="problem">
  <div class="container mt-2 py-4">
    <h1 class="text-center display-4" style="font-family: 'Assistant', sans-serif; font-weight:bolder;">The
      <span style="color: #930202;">Problems</span></h1>

    <!-- three cards -->
    <div class="row mt-5 pt-2 pb-2">
      <div class="col-lg-4">
        <div class="card border-light">
          <img class="card-img-top rounded-circle mx-auto d-block py-2" style="width:35%; height:35%;" src="assets/p1.jpg"
            alt="image">
          <div class="card-body text-center text-muted" style="font-family: 'Montserrat', sans-serif; font-weight:700;">
            Hunger kills more people each year than AIDS, malaria and terrorism combined </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card border-light">
          <img class="card-img-top rounded-circle mx-auto d-block py-2" style="width:35%; height:35%;" src="assets/p2.jpg"
            alt="image">
          <div class="card-body text-center text-muted" style="font-family: 'Montserrat', sans-serif; font-weight:700;">
            Every 10 seconds, a child dies from hunger </div><br>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card border-light">
          <img class="card-img-top rounded-circle mx-auto d-block py-2" style="width:35%; height:35%;" src="assets/p3.jpg"
            alt="image">
          <div class="card-body text-center text-muted" style="font-family: 'Montserrat', sans-serif; font-weight:700;">
            82% of hungry people live in countries with food surpluses, not food shortages </div>
        </div>
      </div>
    </div>

    <!-- three more cards -->
    <div class="row mt-5 pb-2">
      <div class="col-lg-4">
        <div class="card border-light">
          <img class="card-img-top rounded-circle mx-auto d-block py-2" style="width:35%; height:35%;" src="assets/p4.jpeg"
            alt="image">
          <div class="card-body text-center text-muted" style="font-family: 'Montserrat', sans-serif; font-weight:700;">
            One in every eight people sleeps hungry each night </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card border-light">
          <img class="card-img-top rounded-circle mx-auto d-block py-2" style="width:35%; height:35%;" src="assets/p5.jpg"
            alt="image">
          <div class="card-body text-center text-muted" style="font-family: 'Montserrat', sans-serif; font-weight:700;">
            One-third of the food produced around the world is never consumed </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card border-light">
          <img class="card-img-top rounded-circle mx-auto d-block py-2" style="width:35%; height:35%;" src="assets/p6.jpg"
            alt="image">
          <div class="card-body text-center text-muted" style="font-family: 'Montserrat', sans-serif; font-weight:700;">
            850 million hungry people in the world </div>
        </div>
      </div>
    </div>

  </div>
</section>

<!-- end of the problems -->


<!-- join us banner -->

<section class="container-fluid h-100" style="min-height: 50vh;  font-family: 'Assistant', sans-serif; font-weight:bolder; color:white; background-color:#930202;">
  <div class="row align-items-center h-100">
    <div class="col-12">
      <h1 class="display-4 mx-auto" style="margin-top:5rem">
        <p class="text-center inline">
          Take a Better Pledge <br>
          <a routerLink="/user/register-donor" class="my-3" style=" font-family: 'Montserrat', sans-serif; text-decoration: none;">
            <span style="font-size:2rem; color: white" class="join-today">
              Join Today <i class="fas fa-hands-helping "></i>
            </span>
          </a>
        </p>
      </h1>
    </div>
  </div>
</section>

<!-- end of join us banner -->


<!-- our vision and what is betterpledge -->

<section>
  <div class="container py-4">
    <!-- our vision -->
    <div class="row">
      <div class="col-lg-6 col-sm-12">
        <div class="jumbotron jumbotron-fluid bg-white">
          <div class="container">
            <h1 class="text-left display-4 pt-5 pb-4" style="font-family: 'Assistant', sans-serif; font-weight:bolder;">Our
              <span style="color: #930202;">Vision</span></h1>
            <p class="text-justify text-muted" style="font-family: 'Montserrat', sans-serif; font-weight:700;">We
              aim to end all forms of hunger and malnutrition by 2030, making sure all people –
              especially children – have access to sufficient and nutritious food all year round.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 d-none d-sm-block">
        <div class="jumbotron jumbotron-fluid bg-white">
          <div class="container">
            <img class="rounded-circle mx-auto d-block py-2" style="width:50%; height:50%;" src="https://i.imgur.com/eHanepF.jpg"
              alt="">
          </div>
        </div>
      </div>
    </div>

    <!-- about us -->
    <div class="row">
      <div class="col-lg-6 d-none d-sm-block">
        <div class="jumbotron jumbotron-fluid bg-white">
          <div class="container">
            <img class="rounded-circle mx-auto d-block py-2" style="width:50%; height:50%;" src="https://i.imgur.com/6c4lWeA.jpg"
              alt="">
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="jumbotron jumbotron-fluid bg-white">
          <div class="container">
            <h1 class="text-right display-4 pb-4" style="font-family: 'Assistant', sans-serif; font-weight:bolder;">Better
              <span style="color: #930202;">Pledge</span>?</h1>
            <p class="text-justify text-muted" style="font-family: 'Montserrat', sans-serif; font-weight:700;">Better
              pledge is a web platform made by Google Student Community,
              DITU where individuals can donate surplus food from restaurants and communities to
              serve the less fortunate.
              The NGO’s can run through the platform whenever they require food for the less
              fortunate.
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>

</section>

<!-- our vision and what is betterpledge -->



<div class="container-image ">

</div>



<!-- CAROUSEL OF NGO AND DONOR -->

<div class="container" style="padding-top:60px; padding-bottom: 60px" >
    <div class="row">
      <div class="col-lg-6" style="padding-bottom:60px">
          <figure class="icon-cards" >
              <p class="lead" style="font-weight:bolder ;font-family: 'Assistant', sans-serif; color: #930202; text-align: center">DONORS</p>
              <div class="icon-cards__content">
                <div class="icon-cards__item">
                  <img src="assets/1a.jpg" width="100px" alt="">

                </div>
                <div class="icon-cards__item">
                  <img src="assets/2b.png" width="100px" alt="">
                </div>
                <div class="icon-cards__item">
                  <img src="assets/3c.png" width="100px" height="100px" alt="">
                </div>
              </div>
          </figure>
              
      </div>
      <div class="col-lg-6" style="padding-bottom:60px">
          <figure class="icon-cards" >
              <p class="lead"  style="font-weight:bolder ;font-family: 'Assistant', sans-serif; color: #930202 ; text-align: center;">NGO's</p>
              <div class="icon-cards__content">
                <div class="icon-cards__item">
                  <img src="assets/1.jpg" width="100px" alt="">
                </div>
                <div class="icon-cards__item">
                  <img src="assets/2.png" width="100px" alt="">

                </div>
                <div class="icon-cards__item">
                  <img src="assets/3d.png" width="100px"  alt="">

                </div>
              </div>
          </figure>
              
      </div>
    </div>
  </div>
  
  
