.container-image{
    background-image: url('/assets/steps.jpg');
    /* top: 200px; */
    height: 40vw;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.join-today{
    background-color: rgba(255, 0, 0, 0.445);
    border-radius: 30px;
    padding: 10px 20px 10px 20px;
}

.join-today:hover{
    background-color: rgba(255, 0, 0, 0.794);
    border-radius: 30px;
    padding: 10px 20px 10px 20px;
}