.container-image{
    background-image: url('/assets/steps.jpg');
    /* top: 200px; */
    height: 40vw;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
