 <header>
  <div id="carouselExampleIndicators" class="carousel faded" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
       <div class="carousel-item active bh" style="background-image: url('assets/carousel-1.jpg')">
        
      </div>
      <div class="carousel-item bh" style="background-image: url('assets/carousel-2.jpg')">
        
      </div>
      <div class="carousel-item bh" style="background-image: url('assets/carousel-3.jpg')">
        
      </div>
    </div>
    
    <a class="left slide-control carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev"><i class="fa fa fa-chevron-circle-left fa-2x text-white"></i></a>
    <a class="right slide-control carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next"><i class="fa fa fa-chevron-circle-right fa-2x text-white"></i></a>

    <!-- bounceing arrow button -->
    <div class="container">
        <div class="element" style="margin-bottom: 0.9375rem; position: absolute;left: 50%;bottom: 0.625rem;z-index: 1;cursor: pointer; ">
        <a (click)="Scroll()" href="/home#problem">
            <i class="fa fa-angle-double-down fa-2x text-white" aria-hidden="true"></i>
        </a>
        </div>
    </div>

  </div>
</header> 

