/* Show it is fixed to the top */
body {
    min-height: 75rem;
    padding-top: 65px;
}


.nav.navbar-nav.navbar-right li a {
    color: black;
}


.dropdown-menu{
    opacity: 1;
}

.fixed-top{
    -webkit-box-shadow: 0px 2px 18px -3px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 2px 18px -3px rgba(0,0,0,0.75);
box-shadow: 0px 2px 18px -3px rgba(0,0,0,0.75);
top: 0px;
}

.navbar-toggler{
    border: none;
}

.fa-phone {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
    filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }