<nav class="navbar navbar-static-top navbar-expand-lg navbar-light bg-light " id="header">
  <div class="container">
    <a class="navbar-brand" routerLink="/"><img src="assets/logo.png" height="50px"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto align-center">
        <li class="nav-item pull-left" routerLinkActive="active">
          <a class="nav-link" routerLink="/About" *ngIf="!authService.loggedin()"> <i class="fa fa-user"></i> About</a>
        </li>
        <li class="nav-item pull-left" routerLinkActive="active">
          <a class="nav-link" routerLink="/Contact" *ngIf="!authService.loggedin()"> <i class="fa fa-phone"></i> Contact</a>
        </li>
        <li class="nav-item pull-left" routerLinkActive="active">
          <a class="nav-link" routerLink="/donor/addProduct" *ngIf="authService.loggedin() && authService.currentUser().type==='donor'">Donate
            Now</a>
        </li>
        <li class="nav-item pull-left" routerLinkActive="active">
          <a class="nav-link" routerLink="/donor/donatedProduct" *ngIf="authService.loggedin() && authService.currentUser().type==='donor'">Manage
            Product</a>
        </li>
        <li class="nav-item pull-left" routerLinkActive="active">
          <a class="nav-link" routerLink="/product/all" *ngIf="authService.loggedin() && authService.currentUser().type==='beneficiary'">Donations</a>
        </li>

        <li class="nav-item  pull-left" routerLinkActive="active" *ngIf="authService.loggedin() && authService.currentUser().type==='beneficiary'">
          <a class="nav-link" routerLink="/Cart"><i class="fa fa-shopping-cart" style="font-size:20px"></i> Cart
            <sup>
              <span class="badge badge-warning badge-pill">{{ totalQuantityCount }} </span>
            </sup>
          </a>
        </li>
        <li class="nav-item dropdown" routerLinkActive="active">

          <a class="nav-link dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" *ngIf="authService.loggedin()"
            aria-expanded="false"><span style="font-size:100%;cursor: pointer;"><i class="fa fa-user-circle"></i>
              {{ authService.currentUser().first_name }}</span></a>

          <a class="nav-link dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" *ngIf="!authService.loggedin()"
            aria-expanded="false"><span style="font-size:100%;cursor: pointer;"><i class="fa fa-user-circle"></i>&nbsp;
              Guest</span>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton" style="cursor:pointer; z-index: 1;">
            <a class="dropdown-item" routerLink="/login" *ngIf="!authService.loggedin()">Login</a>
            <a class="dropdown-item" routerLink="/register-beneficiary" *ngIf="!authService.loggedin()">Register</a>
            <a class="dropdown-item" routerLink="/order" *ngIf="authService.loggedin()">My Orders</a>
            <a class="dropdown-item" routerLink="/donor/donatedProduct" *ngIf="authService.loggedin()">Manage Product</a>
            <a class="dropdown-item" routerLink="/Profile" *ngIf="authService.loggedin()">My Account</a>
            <a class="dropdown-item" routerLink="/Notifications" *ngIf="authService.loggedin()">Notifications</a>
            <a class="dropdown-item" routerLink="/Logout" *ngIf="authService.loggedin()" (click)="authService.logout()"><span><i
                  class="fas fa-sign-out-alt" style="font-size:100%"></i></span>
              Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
