/* Show it is fixed to the top */
body {
    min-height: 75rem;
    padding-top: 4.5rem;
}

.navbar{
    background-color: #21D4FD;
background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
}

.fixed-top{
    -webkit-box-shadow: 0px 2px 18px -3px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 2px 18px -3px rgba(0,0,0,0.75);
box-shadow: 0px 2px 18px -3px rgba(0,0,0,0.75);
}


@media screen and (max-width: 600px){
.navbar-nav {
    position: relative;
    display: inline-block;
    text-align: center;
  }
.nav-item{
    padding-right: 1rem;
    display: inline-block;
}
}