/* You can add global styles to this file, and also import other style files */
/* .btn{
    
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    color: white;
} */